apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spam-detector-models
  labels:
    app: spam-detector
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
